
.btn{
  display: block;
  position:relative;
  width:140px;
  height:30px;
  border: 2px solid #ffffff;
  color: #000;
  font-weight:900;
  border-radius: 15px;
  line-height:26px;
  text-align: center;
  cursor:pointer;
  text-decoration: unset;

  &.btn-40{
    height: 40px;
    line-height:36px;
    border-radius: 25px;
    border-width: 3px;
    font-size: 24px;
  }

  &.btn-primary{
        border: 2px solid #ffffff;
        color: #ffffff;
        background: #ffffffb5;
        color: #000;
    &:hover{
      background-color:#ffffff;
    }

  }

  &.btn-secondary{
    background-color:#CEFB08;
      color: #000;
    

    &:hover{
      background-color:transparent;
      color: #CEFB08;
      
    }
  }

  &.btn-hover-overlay{
      &:hover{
          &:after{
            content:"";
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background: #000;
            opacity:0.2;
          }
        }
  }

}


$color: black;
$color2: pink;
$radius: .35rem;
$border-width: 2px;
$color-bg: white;
$offset: .5rem;
$transition: .3s;

.button {
  font-weight: 600;
  border: solid 3px black;
  padding:10px;
  font-size: 20px;
  text-align:center;
  background-color: #fff;
  border-radius: 0;
  position: relative;
  width:300px;
  height:60px;
  line-height: 34px;
  cursor: pointer;
  box-shadow: -3px 5px #000;
  &:hover{ background-color: rgb(255, 106, 243); }
}

.button.style-2 {
  &::before {
      top: 10px;
      left: 10px;
  }
  
  &:hover {
    &::before {
      width: calc(100% + #{$offset});
      height: calc(100% + #{$offset});
      
    }
  }
}

.scale-text-container{
  width: 100%;
  height: 100%;
  display: flex;
}