



.palete-grays-100{background-color: rgb(0, 0, 0);}
.palete-grays-200{background-color: rgb(27, 27, 27);}
.palete-grays-300{background-color: rgb(60, 60, 60);}
.palete-grays-400{background-color: rgb(98, 98, 98);}
.palete-grays-500{background-color: rgb(163, 163, 163);}


.palete-blue-teal-100{background-color: #348888;}
.palete-blue-teal-200{background-color: #22BABB;}
.palete-blue-teal-300{background-color: #9EF8EE;}
.palete-blue-teal-400{background-color: #FA7F08;}
.palete-blue-teal-500{background-color: #F24405;}

.palete-big-machine-100{background-color: #BD2A2E;}
.palete-big-machine-200{background-color: #3B3936;}
.palete-big-machine-300{background-color: #B2BEBF}
.palete-big-machine-400{background-color: #889C9B;}
.palete-big-machine-500{background-color: #486966;}

.palete-spring-benefit-100{background-color: #0079B6;}
.palete-spring-benefit-200{background-color: #59A6CC;}
.palete-spring-benefit-300{background-color: #F2E96B}
.palete-spring-benefit-400{background-color: #D96B62;}
.palete-spring-benefit-500{background-color: #F0BCCC;}

.palete-happy-aging-100{background-color: #590B11;}
.palete-happy-aging-200{background-color: #BF0B2C;}
.palete-happy-aging-300{background-color: #0D0D0C}
.palete-happy-aging-400{background-color: #F2911B;}
.palete-happy-aging-500{background-color: #D9560B;}

.palete-grab-nyt-100{background-color: #A2E4F2;}
.palete-grab-nyt-200{background-color: #4EA654;}
.palete-grab-nyt-300{background-color: #E1F25E}
.palete-grab-nyt-400{background-color: #F28D77;}
.palete-grab-nyt-500{background-color: #F24130;}