
.svg-icon{
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(0, 0, 0);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}


.svg-icon-pdf-file {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path d='M5.8 14H5v1h.8c.3 0 .5-.2.5-.5s-.2-.5-.5-.5zM11 2H3v16h13V7l-5-5zM7.2 14.6c0 .8-.6 1.4-1.4 1.4H5v1H4v-4h1.8c.8 0 1.4.6 1.4 1.4v.2zm4.1.5c0 1-.8 1.9-1.9 1.9H8v-4h1.4c1 0 1.9.8 1.9 1.9v.2zM15 14h-2v1h1.5v1H13v1h-1v-4h3v1zm0-2H4V3h7v4h4v5zm-5.6 2H9v2h.4c.6 0 1-.4 1-1s-.5-1-1-1z'/></svg>") no-repeat center / contain;

}

.svg-icon-map {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 105.93 122.88'><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>map</title><path class='cls-1' d='M56.92,73.14a1.62,1.62,0,0,1-1.86.06A65.25,65.25,0,0,1,38.92,58.8,51.29,51.29,0,0,1,28.06,35.37C26.77,27.38,28,19.7,32,13.45a27,27,0,0,1,6-6.66A29.23,29.23,0,0,1,56.36,0,26,26,0,0,1,73.82,7.12a26,26,0,0,1,4.66,5.68c4.27,7,5.19,16,3.31,25.12A55.29,55.29,0,0,1,56.92,73.14Zm-19,.74V101.7l30.15,13V78.87a65.17,65.17,0,0,0,6.45-5.63v41.18l25-12.59v-56l-9.61,3.7a61.61,61.61,0,0,0,2.38-7.81l9.3-3.59A3.22,3.22,0,0,1,105.7,40a3.18,3.18,0,0,1,.22,1.16v62.7a3.23,3.23,0,0,1-2,3L72.72,122.53a3.23,3.23,0,0,1-2.92,0l-35-15.17L4.68,122.53a3.22,3.22,0,0,1-4.33-1.42A3.28,3.28,0,0,1,0,119.66V53.24a3.23,3.23,0,0,1,2.32-3.1L18.7,43.82a58.63,58.63,0,0,0,2.16,6.07L6.46,55.44v59l25-12.59V67.09a76.28,76.28,0,0,0,6.46,6.79ZM55.15,14.21A13.72,13.72,0,1,1,41.43,27.93,13.72,13.72,0,0,1,55.15,14.21Z'/></svg>") no-repeat center / contain;
}

.svg-icon-arrow {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M26.025 14.496h-14.286l6.366-6.366L15.979 6 5.975 16.003 15.971 26l2.129-2.129-6.367-6.366h14.29z'/></svg>") no-repeat center / contain;
}

.svg-icon-ok { -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><style>.st0{fill:none;}</style><path d='M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M10.8,16.8l-3.7-3.7l1.4-1.4l2.2,2.2l5.8-6.1L18,9.3L10.8,16.8z'/><rect class='st0' width='24' height='24'/></svg>") no-repeat center / contain;}

.svg-icon-cancel { -webkit-mask: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><g><path d='M10,1a9,9,0,1,0,9,9A9,9,0,0,0,10,1Zm0,16.4A7.4,7.4,0,1,1,17.4,10,7.41,7.41,0,0,1,10,17.4ZM13.29,5.29,10,8.59,6.71,5.29,5.29,6.71,8.59,10l-3.3,3.29,1.42,1.42L10,11.41l3.29,3.3,1.42-1.42L11.41,10l3.3-3.29Z'/></g></svg>") no-repeat center / contain; }

.svg-icon-splash { 
  -webkit-mask: url("/images/svg/splash.svg") no-repeat center / contain; 
}

.svg-icon-timer { 
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 101.5 122.88' style='enable-background:new 0 0 101.5 122.88'><g><path d='M56.83,21.74c11.58,1.38,21.96,6.67,29.8,14.5c9.18,9.18,14.86,21.87,14.86,35.88c0,14.01-5.68,26.7-14.86,35.89 s-21.87,14.87-35.89,14.87c-14.01,0-26.7-5.68-35.88-14.87C5.68,98.83,0,86.14,0,72.13c0-14.01,5.68-26.7,14.86-35.88 c8.41-8.41,19.77-13.89,32.38-14.75v-8.51c0-0.13,0.01-0.26,0.02-0.38l-9.51,0c-1.56,0-2.83-1.28-2.83-2.83V2.83 C34.92,1.28,36.2,0,37.76,0h28.57c1.56,0,2.84,1.28,2.84,2.83v6.94c0,1.56-1.28,2.83-2.84,2.83h-9.51 c0.01,0.13,0.02,0.25,0.02,0.38V21.74L56.83,21.74L56.83,21.74z M54.82,64.55c2.7,1.45,4.53,4.3,4.53,7.58 c0,4.75-3.85,8.61-8.61,8.61c-4.75,0-8.61-3.85-8.61-8.61c0-3.28,1.84-6.13,4.53-7.58l0-19.72c0-2.25,1.82-4.08,4.07-4.08 c2.25,0,4.08,1.82,4.08,4.08L54.82,64.55L54.82,64.55L54.82,64.55z M96.33,37.07c1.97-4.7,1.74-9.63-1.08-12.92 c-3.38-3.96-9.5-4.41-15.17-1.63C86.08,26.65,91.54,31.45,96.33,37.07L96.33,37.07L96.33,37.07z M5.17,37.07 c-1.97-4.7-1.74-9.63,1.08-12.92c3.38-3.96,9.5-4.41,15.18-1.63C15.41,26.65,9.95,31.45,5.17,37.07L5.17,37.07L5.17,37.07z M80.87,42.01c-7.71-7.71-18.36-12.48-30.12-12.48c-11.76,0-22.41,4.77-30.12,12.48C12.92,49.72,8.15,60.37,8.15,72.13 c0,11.76,4.77,22.42,12.48,30.12s18.36,12.48,30.12,12.48c11.77,0,22.42-4.77,30.12-12.48s12.48-18.36,12.48-30.13 C93.35,60.37,88.58,49.72,80.87,42.01L80.87,42.01L80.87,42.01z'/></g></svg>") no-repeat center / contain; 
  
}

.png-icon{
  width:50px;
  height:50px;
  float:left;
  background-size:contain;
}



// shape icons

.svg-icon-circle{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' xml:space='preserve'><circle cx='240' cy='240' r='240'></circle></svg>") no-repeat center / contain;
}

.svg-icon-heart{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' xml:space='preserve'><path d='M237.376,436.245l0.774,0.976c210.94-85.154,292.221-282.553,199.331-367.706 c-92.899-85.154-199.331,30.953-199.331,30.953h-0.774c0,0-106.44-116.107-199.331-30.953 C-54.844,154.658,26.437,351.092,237.376,436.245z'/></svg>") no-repeat center / contain;
}

.svg-icon-triangle{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M240 60 32.2 420h415.7L240 60z'></path></svg>") no-repeat center / contain;
}

.svg-icon-square{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M0 0h480v480H0z'></path></svg>") no-repeat center / contain;
}

.svg-icon-square-small{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M70.3 70.3h339.4v339.4H70.3z'></path></svg>") no-repeat center / contain;
}

.svg-icon-square-2{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M480 0H0v480h480V0ZM320 320H160V160h160v160Z'></path></svg>") no-repeat center / contain;
}

.svg-icon-pentagon{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M240 11.8 0 186.1l91.7 282.2h296.6L480 186.1 240 11.8z'></path></svg>") no-repeat center / contain;
}

.svg-icon-hexagon{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M360 32.2H120L0 240l120 207.9h240L480 240 360 32.2z'></path></svg>") no-repeat center / contain;
}

.svg-icon-star-8{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M240 0l73.5 151.5L480 180l-120 120 30 180-150-90-150 90 30-180L0 180l166.5-28.5L240 0z'></path></svg>") no-repeat center / contain;
}

.svg-icon-star-16{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M450 210h-59.2l54.7-22.6a30 30 0 1 0-23-55.4L368 154.5l41.8-41.9a30 30 0 1 0-42.4-42.4L325.4 112l22.7-54.6a30 30 0 1 0-55.4-23L270 89.2V30a30 30 0 1 0-60 0v59.2l-22.7-54.7a30 30 0 1 0-55.4 23l22.6 54.6-41.8-41.8a30 30 0 1 0-42.4 42.4l41.8 41.9-54.7-22.7a30 30 0 1 0-23 55.4L89.3 210H30a30 30 0 1 0 0 60h59.2l-54.7 22.7a30 30 0 1 0 23 55.4l54.6-22.6-41.8 41.8a30 30 0 1 0 42.4 42.4l41.9-41.8-22.7 54.7a30 30 0 1 0 55.4 23l22.7-54.8V450a30 30 0 1 0 60 0v-59.2l22.7 54.7a30 30 0 1 0 55.4-23L325.5 368l41.8 41.8a30 30 0 1 0 42.4-42.4L368 325.4l54.7 22.7a30 30 0 1 0 23-55.4L390.7 270H450a30 30 0 1 0 0-60Z'></path></svg>") no-repeat center / contain;
}

.svg-icon-petal-4{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M398.7 240A239.4 239.4 0 0 0 480 60V0h-60c-71.7 0-136 31.4-180 81.3A239.4 239.4 0 0 0 60 0H0v60c0 71.7 31.4 136 81.3 180A239.4 239.4 0 0 0 0 420v60h60c71.7 0 136-31.4 180-81.3A239.4 239.4 0 0 0 420 480h60v-60c0-71.7-31.4-136-81.3-180Z'></path></svg>") no-repeat center / contain;
}

.svg-icon-flower-4{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M360 240a120 120 0 1 0-120-120 120 120 0 1 0-120 120 120 120 0 1 0 120 120 120 120 0 1 0 120-120Zm-120 60a60 60 0 1 1 0-120 60 60 0 0 1 0 120Z'></path></svg>") no-repeat center / contain;
}

.svg-icon-plus-rounded{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M480 240c0-47-54-87.7-132.7-107.3C327.7 54 287 0 240 0s-87.7 54-107.3 132.7C54 152.3 0 193 0 240s54 87.7 132.7 107.3C152.3 426 193 480 240 480s87.7-54 107.3-132.7C426 327.8 480 287 480 240Z'></path></svg>") no-repeat center / contain;
}

.svg-icon-x-rounded{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M409.7 296.6 353.1 240l56.6-56.6A80 80 0 0 0 296.6 70.3L240 126.9l-56.6-56.6A80 80 0 0 0 70.3 183.4l56.6 56.6-56.6 56.6a80 80 0 0 0 113.1 113.1l56.6-56.6 56.6 56.6a80 80 0 0 0 113.1-113.1Z'></path></svg>") no-repeat center / contain;
}


.svg-icon-blob-1{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' loading='lazy'><path d='M409 295.9a79 79 0 0 1 .7-112.5A80 80 0 0 0 296.6 70.3 79 79 0 0 1 184 71a80.7 80.7 0 0 0-113.4-1.1C39 101 39 152 70.3 183.4s30.5 82.7.7 112.5a80.7 80.7 0 0 0-1.1 113.4 80 80 0 0 0 113.5.4 79 79 0 0 1 113.2 0 80 80 0 0 0 113.5-.4c31-31.4 30-82.2-1.1-113.4Z'></path></svg>") no-repeat center / contain;
}

// animal icons
.svg-icon-elephant{
  -webkit-mask: url("data:image/svg+xml;utf8,<svg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 505.087 505.087' xml:space='preserve'><path d='M488.909,418.392c-34.84-27.219-3.266-93.632-3.266-93.632c63.147-161.134-46.108-242.307-64.788-252.887 c-38.033-21.541-128.497-42.648-174.166,15.319c-12.916,16.394-8.599,36.754-2.654,50.984 c15.302,36.618,56.436,69.544,91.693,73.388c10.054,1.123,17.377-1.182,22.336-6.958c15.761-18.347,7.451-66.618,2.909-83.672 c-1.233-4.644,1.531-9.416,6.184-10.658c1.341-0.356,2.664-0.3,3.938-0.041c3.142,0.637,5.842,2.909,6.72,6.225 c1.905,7.179,17.956,70.998-6.532,99.501c-5.401,6.286-15.004,13.286-30.97,13.286c-2.05,0-4.21-0.119-6.473-0.366 c-41.593-4.542-88.095-41.432-105.88-83.995c-4.475-10.708-6.707-21.065-6.948-30.835c-99.728,0-213.575,55.596-220.991,155.597 c-0.238,3.208,1.735,6.167,4.789,7.179c3.054,1.021,6.413-0.169,8.14-2.882c6.124-9.616,13.75-20.027,21.325-26.585 c1.087,15.749,5.871,30.796,14.136,44.532c16.552,27.508,25.39,59.098,25.39,91.198l0.158,59.253 c0.843,7.261,17.995,13.065,39.181,13.065c21.194,0,38.346-5.804,39.19-13.065l0.158-38.455c0-10.096,4.21-19.742,11.61-26.616 c7.4-6.873,17.316-9.628,27.413-9.628c6.263,0,19.079,0.009,19.828,0c9.688-0.101,19.019,4.337,25.899,11.159 c6.89,6.822,10.761,16.11,10.761,25.799l0.158,37.74c0.843,7.261,17.994,13.065,39.181,13.065c21.194,0,38.346-5.804,39.19-13.065 l0.158-33.215c0-98.599,72.254-142.598,80.839-147.814c42.606-25.886,23.68,52.557,23.68,52.557 c-28.307,88.188,37.017,128.472,37.017,128.472l0.293-0.339c0.204,0.208,0.262,0.544,0.498,0.722 c4.184,3.155,11.799,0.128,16.995-6.779c4.792-6.34,5.668-13.564,2.569-17.171L488.909,418.392z'/></svg>") no-repeat center / contain;
}


