.clearfix::after {
    display: block;
    visibility: hidden;
    content: "";
    clear: both;
    height: 0;
}

.disabled{
  pointer-events:none;
  // opacity:0.5;
}

.pointer-events-none{
  pointer-events:none;
}

//// center utils
.margin-0-auto{
    margin: 0 auto;
}

.position-relative{
  position:relative;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.clear-both{
  clear:both;
}

.display-block{
  display:block;
}

///// shape-utils
.border-radius-10{ border-radius: 10px !important; }
.border-radius-20{ border-radius: 20px !important; }
.border-radius-30{ border-radius: 30px !important; }
.border-radius-40{ border-radius: 40px !important; }
.border-radius-50{ border-radius: 50px !important; }


///// size utils

.h-100{
  height:100%;
}

.w-100{
  width:100%;
}

.w-1\/2{
    width:50%;
}

.h-40{
    height:40px;
}

.fill-container{ 
    display: inline-block;
    width: 100%;
    height: 100%;
}

.rotate-180{ transform: rotate(180deg)}
.rotate-90{ transform: rotate(90deg)}

.scale-90{ transform: scale(0.9) }
.scale-80{ transform: scale(0.8) }
.scale-70{ transform: scale(0.7) }
.scale-60{ transform: scale(0.6) }
.scale-50{ transform: scale(0.5) }

/////// flex utils

.flex-container {
  display: flex;
}

.position-absolute{
  position:absolute !important;
}

//////// text utils

.text-outline-1{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.text-outline-2{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.text-outline-3{
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.text-shadow-1{text-shadow: 1px 1px 0 #000000 }
.text-shadow-3{ text-shadow: 3px 3px 0 #000000}
.text-shadow-5{ text-shadow: 3px 3px 0 #000000}

.font-bold{
  font-weight: bold;
}

.font-regular{
  font-weight:normal;
}

.text-uppercase{
  text-transform: uppercase;
}

.font-size-30{
  font-size: 30px !important;
}

.font-size-45{
  font-size: 45px !important;
}

.font-size-50{
  font-size: 50px !important;
}

.font-size-60{
  font-size: 60px !important;
}

.hide-long-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-unselectable {user-select: none;}

@mixin hide-long-text($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@for $i from 2 through 12 {
  .hide-long-text-#{$i} {
    @include hide-long-text($i);
  }
}

//////// sanity specific

.has-portable-text p{
  min-height: 12px;
  width: 100%;
}
.has-portable-text a{
  color:#000;
}



.object-cover
{
    object-fit: cover;
}

.object-contain
{
    object-fit: contain;
}


//////// mobile
.is-mobile{
  .hide-on-mobile{
    display:none !important;
  }
}

.hide-on-desktop{
    display:none !important;
  }

.is-mobile{
  .hide-on-desktop{
    display:inline-block !important;
  }
}


.hide-before-360{
  display:none;
  @media (max-width: 360px) {display:inline-block !important;}
}

.hide-before-480{
  display:none;
  @media (max-width: 480px) {display:inline-block !important;}
}

.hide-on-0-520{
  @media (max-width: 520px) {display:none;}
}


