// globals.scss


@use '_modern-normalize' as *;

@use '_utils' as *;

@use '_buttons' as *;
@use '_icons' as *;
@use '_colors' as *;
@use '_utils-images' as *;
@use '_utils-text-effects' as *;
@use '_utils-hover-active-focus-states' as *;
@use 'components/_answers' as *;

html{
  height:100%;
  width:100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  min-height: 100%;
  height:100%;
  width:100%;
  background-color: #000;
  position:relative;
}

.font-melon{
   font-family: var(--font-melon);
}


.font-default {
  font-family: Arial, sans-serif;
}


body.still-loading{
  .hide-while-still-loading{
    opacity:0 !important;
  }
}

.hide-while-still-loading{
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
