.namespace-container {
  float:left;
  width:100%;
  height:100%;
  position:relative;

  :global {


    .shape-container{
      position:relative;
      z-index: 0;

      &.size-1{
        width:300px;
        height:300px;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
        
      }
      &.size-2{
        width:500px;
        height:500px;
        top: calc(50% - 250px);
        left: calc(50% - 250px);

        @media (max-width: 600px) { width: 500px; height: 500px; top: calc(50% - 250px); left: calc(50% - 250px); }
        @media (max-width: 400px) { width: 300px; height: 300px; top: calc(50% - 250px); left: calc(50% - 150px); }
      }
      &.size-3{
        width:700px;
        height:700px;
        top: calc(50% - 350px);
        left: calc(50% - 350px);
        // opacity:0.9;
        @media (max-width: 700px) { width: 600px; height: 600px; top: calc(50% - 300px); left: calc(50% - 300px); }
        @media (max-width: 600px) { width: 500px; height: 500px; top: calc(50% - 250px); left: calc(50% - 250px); }
        @media (max-width: 400px) { width: 300px; height: 300px; top: calc(50% - 250px); left: calc(50% - 150px); }
      }

    }

    .shape{

      width:100%;
      height:100%;
      position:absolute;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      z-index:3;
      top:0px;
      left:0px;

      filter: drop-shadow(0 0 0 black)     /* fills mask shape */
          drop-shadow(0 0 4px black);  /* outline */
    }

    .shape-texture{
      z-index:4;
      opacity: 0.1;
      filter:grayscale(1);
      background-size: contain;
      background-blend-mode: multiply;
    }

    .shape-shadow-1{
      width:calc(100% + 10px);
      height:calc(100% + 10px);
      position:absolute;
      top:-5px;
      left:-5px;
      z-index:1;
    }
    .shape-shadow-2{
      width:calc(100% + 20px);
      height:calc(100% + 20px);
      position:absolute;
      top:-10px;
      left:-10px;
      z-index:0;
    }



    .outline {
      filter: drop-shadow(0 0 0 white)     /* internal fill */
              drop-shadow(0 0 6px #000);    /* outline */
    }
  }
}
