.namespace-container {
  float:left;
  width:100%;
  height:100%;
  position:relative;

  :global {

    .question{
      font-size:70px;
      color:#fff;
      top:40%;
      text-align:center;
      letter-spacing: 4px;
    .question-text{

      display:inline-block;
      background: #00000083;
      padding: 10px 20px;
      border-radius: 30px;
    }

    }

  }
}
