.namespace-container {
  float:left;
  width:100%;
  height:100%;
  position:relative;

  :global {

    .shape{

      
      position:relative;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      // background: #000 !important;

      &.size-1{
        width:300px;
        height:300px;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
      }
      &.size-2{
        width:500px;
        height:500px;
        top: calc(50% - 250px);
        left: calc(50% - 250px);
      }
      &.size-3{
        width:700px;
        height:700px;
        top: calc(50% - 350px);
        left: calc(50% - 350px);
        opacity:0.9;
      }

    }

    .answers{
      bottom:30px;
      width:340px;
      margin-left: calc(50% - 170px);
      text-transform: uppercase;
      .answer{
        float:left;
        margin: 10px;
      }

    }
  }
}
