.answers{
      bottom:30px;
      width:640px;
      margin-left: calc(50% - 320px);
      text-transform: uppercase;

      .answer{
        float:left;
        margin: 10px;

        .answer-icon{
          width:40px;
          height:40px;
          position:absolute;
          right:10px;
          top:7px;
          display:none;
          &.answer-icon-correct{ background-color:green;}
          &.answer-icon-wrong{ background-color:red;}
        }

        
      }

      @media (max-width: 700px) {
        width: 520px;
        margin-left: calc(50% - 260px);
        bottom: 10px;
        .answer { margin: 5px;}

        .button{
          height:44px;
          width:240px;
          padding:4px 7px;
          line-height: 30px;
        }
      }

      @media (max-width: 520px) {
        width: 100%;
        margin-left:0;
        .button{clear: both; float:none; margin: 10px auto !important;}

      }

      

    }


.question-container{
  .answers .answer .answer-icon{ display:none;}
  &.answered .answers .answer{ 
    &.wrong-answer{ .answer-icon-wrong{display:block;}}
    &.correct-answer{ .answer-icon-correct{display:block;}}
  }

}