// common styling
.answers {
  text-transform: uppercase;
  .answer{
    overflow: hidden;
    .answer-icon{
            width:40px;
            height:40px;
            position:absolute;
            right:10px;
            top:7px;
            display:none;
            &.answer-icon-correct{ background-color:green;}
            &.answer-icon-wrong{ background-color:red;}
          }
  }
}


.answers.style-1{
      bottom:30px;
      width:640px;
      margin-left: calc(50% - 320px);
      
      .answer{
        float:left;
        margin: 10px;
      }

      @media (max-width: 700px) {
        width: 520px;
        margin-left: calc(50% - 260px);
        bottom: 10px;
        .answer { 
          margin: 5px;
          height:44px;
          width:240px;
          padding:4px 7px;
          line-height: 30px;
        }
      }

      @media (max-width: 520px) {
        width: 100%;
        margin-left:0;
        .answer{clear: both; float:none; margin: 10px auto !important;}

      }

      

    }


    .answers.style-2{
      bottom:30px;
      width: 530px;
      margin-left: calc(50% - 265px);

      .answer{
        width: 112px;
        height: 112px;
        float:left;
        margin: 10px;
        line-height:86px;
        font-size:70px;
      }

      @media (max-width: 550px) { transform: scale(0.8); bottom:0;}
      @media (max-width: 440px) { transform: scale(0.7);}
      @media (max-width: 380px) { transform: scale(0.65);}

    }

    .answers.style-3{
      bottom:30px;
      width: 100%;
      display: flex;
      justify-content: center; /* center the whole group */
      gap: 16px;

      .answer{
        width: 240px;
        float:left;
        margin: 0px;
      }

      @media (max-width: 800px) { 
        .answer{
          width:180px;
          height:50px;
          line-height: 30px;
          padding: 7px;
        }
      }

      @media (max-width: 600px) { 
        flex-direction: column; 
        align-content: center; 
        flex-wrap: wrap;
        bottom:0;
        .answer{
          width:240px;
          height:40px;
          line-height: 20px;
          padding: 7px;
        }
      }

    }



.question-container{
  .answers .answer .answer-icon{ display:none;}
  // &.answered .answers .answer{ 
  .answers .answer{ 
    // &.wrong-answer{ .answer-icon-wrong{display:block;}}
    //  &.correct-answer{ .answer-icon-correct{display:block;}}
  }

}