.nsc--game-page{
  position:relative;
  float:left;
  width:100%;
  height:100%;
  overflow: hidden;

  &[data-attribute-from-current-slide='on-game-over-slide'] .game-hud{ display:none; }
  

  .swiper-questions{
    height:100%;

    .swiper-wrapper{
      height:100%;
    }

    .swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-next):not(.swiper-slide-active) .question-container{
        *{display:none;}
    }

    .swiper-button-next,
      .swiper-button-prev{
          display: none;
          width:100px;
          height:100px;
          color:#fff;
          opacity:0.8;
          background: #ffffff3b;
          padding:10px

      }
  }
  

}