.namespace-container{
        position:absolute;
        z-index: 2;
        background: rgb(0 0 0 / 34%);
        width:100%;

  :global{

    .game-hud{
      max-width:400px;
      width:100%;
      margin: 0 auto;
      text-align: center;
      font-size:32px;
      color: #fff;

      .question-number{
        height:180px;
        width:180px;
        position: absolute;
        right: -60px;
        top: -60px;
        font-weight: bold;

        &:after{
          content:attr(data-question-number);
          color:#fff;
          font-size:40px;
          position: absolute;
          top: 6px;
          left:0;
          width:100%;
          line-height: 180px;
          z-index:2;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: rgb(0, 0, 0);

        }

        .background-svg{
          position:absolute;
          z-index:1;
          background:#2bfff7;
        }
        .background-svg-shadow{
          position:absolute;
          z-index:0;
          background:#000000;
          top:3px;
          left:-3px;
        }
      }

      .lives{
        height:40px;
        width:40px;
        position: absolute;
        right: 70px;
        top: 0px;
        z-index: 3;

        .heart-svg{ background:rgb(231, 31, 131);}

        &:after{
          content:attr(data-lives-count);
          color:#fff;
          font-size:26px;
          font-weight: bold;
          position: absolute;
          top: 1px;
          left:0;
          width:100%;
          line-height: 40px;
        }
      }
    }

      
  }
}
