.namespace-container{
        position:absolute;
        z-index: 99;
        top:10px;
        left:10px;
        padding: 18px 12px;
        background: rgb(0 0 0 / 34%);

  :global{

    .game-menu-button {
        display: block;
        position: relative;
        cursor:pointer;
        width: 36px;
        height: 24px;
        top: 0px;
        left: 0px;
        z-index:10;
        

        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 0;
          height: 0;
          border-bottom: 4px solid #ffffff;
          width: 100%;
          left: 0;
          right: 0;
          transition: all ease-out 0.1s;
        }

        &:after {
          top: 100%;
        }

        i {
          display: block;
          text-indent: 100%;
          overflow: hidden;
          white-space: nowrap;
          height: 4px;
          background-color: #ffffff;
          width: 100%;
          position: absolute;
          top: 50%;
        }

        &.active-menu {
          &:after {
            transform: rotate(-45deg);
            transform-origin: center;
            top: 50%;
          }

          &:before {
            transform: rotate(45deg);
            transform-origin: center;
            top: 50%;
          }

          i {
            opacity: 0;
          }
        }
      }
    
      #menu-content {
        position: fixed;
        float: left;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: 800;
        z-index: 8;
        display: none;
        top: 0px;
        left:0;
        background: #000000b9;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        &.open{
            display: block;
        }

      }  

      
  }
}