.namespace-container{
       max-width : 400px;
       width:100%;
       margin: 0 auto;
       padding: 40px 0px;

  :global{
    .question-count{
      width:100%;
      text-align: center;
      font-size:30px;
      color:#fff;
    }
    
  }
}