.nsc--question-series {
  float:left;
  width:100%;
  height:100%;
  position:relative;

    .question{
      font-size:70px;
      color:#fff;
      font-weight: bold;
      top:40%;
      text-align:center;
      letter-spacing: 4px;

    }

}
