.nsc--question-pairs {
  float:left;
  width:100%;
  height:100%;
  position:relative;

    $image-size : 110;

    .sprite{ // 6 x 4
      background-size: $image-size * 6px $image-size * 4px;
      width: $image-size * 1px;
      height: $image-size * 1px;

      &.sprite-socks{ background-image: url("/images/questions/socks.jpg"); }
      &.sprite-mittens{ background-image: url("/images/questions/mittens.jpg"); }
      
      &.sock-1 { background-position: 0 0; }
      &.sock-2 { background-position: (-$image-size * 1px) 0; }
      &.sock-3 { background-position: (-$image-size * 2px) 0; }
      &.sock-4 { background-position: (-$image-size * 3px) 0; }
      &.sock-5 { background-position: (-$image-size * 4px) 0; }
      &.sock-6 { background-position: (-$image-size * 5px) 0; }

      &.sock-7 { background-position: 0 (-$image-size * 1px); }
      &.sock-8 { background-position: (-$image-size * 1px) (-$image-size * 1px); }
      &.sock-9 { background-position: (-$image-size * 2px) (-$image-size * 1px); }
      &.sock-10 { background-position: (-$image-size * 3px) (-$image-size * 1px); }
      &.sock-11 { background-position: (-$image-size * 4px) (-$image-size * 1px); }
      &.sock-12 { background-position: (-$image-size * 5px) (-$image-size * 1px); }

      &.sock-13 { background-position: 0 (-$image-size * 2px); }
      &.sock-14 { background-position: (-$image-size * 1px) (-$image-size * 2px); }
      &.sock-15 { background-position: (-$image-size * 2px) (-$image-size * 2px); }
      &.sock-16 { background-position: (-$image-size * 3px) (-$image-size * 2px); }
      &.sock-17 { background-position: (-$image-size * 4px) (-$image-size * 2px); }
      &.sock-18 { background-position: (-$image-size * 5px) (-$image-size * 2px); }

      &.sock-19 { background-position: 0 (-$image-size * 3px); }
      &.sock-20 { background-position: (-$image-size * 1px) (-$image-size * 3px); }
      &.sock-21 { background-position: (-$image-size * 2px) (-$image-size * 3px); }
      &.sock-22 { background-position: (-$image-size * 3px) (-$image-size * 3px); }
      &.sock-23 { background-position: (-$image-size * 4px) (-$image-size * 3px); }
      &.sock-24 { background-position: (-$image-size * 5px) (-$image-size * 3px); }

    }


    .question{
      font-size:70px;
      color:#fff;
      top: calc(40% - 200px);
      text-align:center;

      .question-text{
        display: inline-block;
        padding:4px 10px;
        font-size:40px;
        font-weight: bold;
        background-color: #fff;
        color:#000;

        @media (max-width: 500px) { position:relative; top:-30px; transform: scale(0.8);}
      }

      .container{
        position:relative;
        width:400px;
        height:400px;
        margin-left: calc(50% - 200px);

        .shape-container{
          float:left;
          padding:5px;
          width:auto;
          height:auto;
          background:#fff;
          margin:3px;
          border: 3px solid #000;
          border-radius:20px;
          .shape{
            width:$image-size * 1px;
            height:$image-size * 1px;
            float:left;
            position:relative;
          }
        }

        &.series-size-18{ .shape{ transform: scale(1.3); } }

      }

      .container{ @media (max-width: 420px) { transform: scale(0.8);} }

    }

    .answers{

      .answer{
            padding: 0px;
            &:hover{ background: #fff;}
            &:active{ top:3px;}

            .sock-sprite{transform:scale(0.8);}
      }
    }


}
