.nsc--question-hands {
  float:left;
  width:100%;
  height:100%;
  position:relative;

    .question{
      color:#fff;
      top: calc(45% - 150px);
      text-align:center;


    }

    $image-size : 300;

    .sprite{ // 4 x 3
      background-size: $image-size * 4px $image-size * 3px;
      width: $image-size * 1px;
      height: $image-size * 1px;
      border-radius:50%;
      border: 5px solid #000;
   

      &.sprite-hands{ background-image: url("/images/questions/hands.jpg"); }

      &.hand-1 { background-position: 0 0; }
      &.hand-2 { background-position: (-$image-size * 1px) 0; }
      &.hand-3 { background-position: (-$image-size * 2px) 0; }
      &.hand-4 { background-position: (-$image-size * 3px) 0; }
      
      &.hand-5 { background-position: (-$image-size * 4px) 0; }
      &.hand-6 { background-position: (-$image-size * 5px) 0; }
      &.hand-7 { background-position: 0 (-$image-size * 1px); }
      &.hand-8 { background-position: (-$image-size * 1px) (-$image-size * 1px); }

      &.hand-9 { background-position: (-$image-size * 2px) (-$image-size * 1px); }
      &.hand-10 { background-position: (-$image-size * 3px) (-$image-size * 1px); }
      &.hand-11 { background-position: (-$image-size * 4px) (-$image-size * 1px); }
      &.hand-12 { background-position: (-$image-size * 5px) (-$image-size * 1px); }

    }




    .answers{

      .answer{
            padding: 0px;
            width: 240px;
            height: 60px;
            line-height:54px;
            &:active{ top:3px;}
      }
    }


}
