.namespace-container {
  float:left;
  width:100%;
  height:100%;
  position:relative;

  :global {

    .scale-sprite{

      width:450px;
      height:170px;
      position: relative;
      left: -25px;

      background-image: url("/images/questions/scales-sprite.png");
      background-size: 450px 510px;
      
      &.scale-1 { background-position: 0 0; }
      &.scale-2 { background-position: 0 -170px; }
      &.scale-3 { background-position: 0 -340px; }

    }

    .scale-sprite.scale-1{ .left-side, .right-side{ top: -112px; } }
    .scale-sprite.scale-2{ .left-side{ top: -136px; } .right-side{ top: -88px; } }
    .scale-sprite.scale-3{ .left-side{ top: -88px; } .right-side{ top: -136px; } }


    .scale-sprite{
      margin-top:200px;

      .left-side,
      .right-side{
        display: flex;
        justify-content: center;
        gap: 8px;
        position: relative;
        width:180px;
        height:150px;

        .shape-container{
          align-self:flex-end;
        }

        &.shape-count-1 .shape-container{
          width:150px;
          height:150px;
          font-weight: bold;

            .shape{
              line-height: 150px;
              font-size:100px;
              
          }
        }

        &.shape-count-2 .shape-container{
          width:85px;
          height:85px;
          
          .shape{
            line-height: 90px;
            font-size:70px;
            font-weight: bold;
          }
        }

         
      }


      .left-side{
        float:left;
        
        .shape-1{
          width:150px;
          height:150px;
        }
      }

      .right-side{
        float:right;

        .shape-1{
          width:150px;
          height:150px;
        }
      }

    }


    .question{
      font-size:70px;
      color:#fff;
      top: calc(40% - 200px);
      text-align:center;

      .container{
        position:relative;
        width:400px;
        height:400px;
        margin-left: calc(50% - 200px);

      }

      .container{ @media (max-width: 420px) { transform: scale(0.8);} }

    }

    .answers{

      .answer{
            padding: 0px;
            width: 240px;;
            &:active{ top:3px;}
      }
    }

  }
}
