.namespace-container {
  float:left;
  width:100%;
  height:100%;
  position:relative;

  :global {

   
    .question{
      height:90%;
      max-height:900px;
      width:100%;
      text-align:center;


      .container{
        position:relative;
        width:400px;
        height:400px;
        margin-left: calc(50% - 200px);

      }

    }

    .answers{
      .answer{
        line-height:86px;
        font-size:86px !important;
      }
    }

  }
}
