.nsc--question-add {
  float:left;
  width:100%;
  height:100%;
  position:relative;

    .question{
      font-size:100px;
      font-weight: bold;
      color:#fff;
      top:40%;
      text-align:center;

    .question-text{

      display:inline-block;
      background: #00000083;
      padding: 10px 20px;
      border-radius: 30px;
    }

    }

}
