.nsc--question-count-color {
  float:left;
  width:100%;
  height:100%;
  position:relative;

    .question{
      margin-top: 20px;
      height:90%;
      max-height:80vh;
      width:100%;
      text-align:center;

      @media (max-width: 600px) { margin-top: 0px; }

      .container{
        position:relative;
        width:400px;
        height:400px;
        margin-left: calc(50% - 200px);

      }

    }

    .answers{
      .answer{
        line-height:86px;
        font-size:86px !important;
      }
    }

}
